form {
    position: relative;
}

body {
    background:white;
}
.description{
    font-family: 'Didact Gothic', sans-serif;
    padding: 0px 50px 0px 50px; 
    font-size: 21px;
}
.plus{
    color: gray;
    font-family: 'Bungee Inline', cursive;
    font-size: 40px;
}
.plus:hover{
    color:var(--red);
}